body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Impede scroll */
    background-color: #f0f0f0;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* Elementos flutuantes sobre o mapa */
.header-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

h1 {
    margin: 0 0 5px 0;
    font-size: 1.2rem;
    color: #333;
}

.status-box {
    font-size: 0.9rem;
    font-weight: 600;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-box.active { color: #2ecc71; } /* Verde */
.status-box.error { color: #e74c3c; }  /* Vermelho */

.controls-overlay {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
    z-index: 1000;
}

.btn-primary {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 12px;
    background-color: #000; /* Preto Shabba? */
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.1s;
}

.btn-primary:active {
    transform: scale(0.98);
}

.btn-primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}